
h3 {
    color: darkgrey;
}

.channel {
    border: none;
    display: block;
    justify-content: center;
    width: 800px;
    height: 750px;
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    bottom: 0;
}

header {
    background-image: url(./IMG-4917.jpg);
    width: 100%;
    height: 440px;
    background-repeat: no-repeat;
    background-size:cover;
}
body {
    margin: 0;
}

.logo{
    position: absolute;
    top: 40px;
    left: 330px;
    width: 100px;
    height: 50px;
}

a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}

.link {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
.link::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
.link:active::before {
    background-color: #000;
}

.current {
    color: grey;
}

.current::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform-origin: right top;
    transform: scale(1, 1);
    transition: color 0.1s,transform 0.2s ease-out;

}

.link:hover::before, .link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.ul1 {
    list-style: none;
    position: absolute;
    top:10pt;
    left: 605pt;
}

.li1 {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
}
.container2 {
    border: none;
    display: block;
    justify-content: center;
    width: 800px;
    height: 200px;
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    bottom: 0;

}

footer {
    background-color: #eaeaea;
}

.left {
 font-size: small;
}

.insta {
    opacity: 0.4;
    position: absolute;
    top: 60px;
    left: 300px;
    width: 80px;
    height: 40px;
}

.insta:hover{
    opacity: 2;
    color: black;
}

.yt {
    opacity: 0.4;
    position: absolute;
    top: 60px;
    left: 340px;
    width: 80px;
    height: 40px;
}

.yt:hover {
    opacity: 2;
    color: black;
}

.linkedin {
    opacity: 0.4;
    position: absolute;
    top: 60px;
    left: 380px;
    width: 80px;
    height: 40px;
}

.linkedin:hover {
    opacity: 2;
    color: black;
}

.name {
    color: darkgray;
}

.follow {
    color: darkgrey;
    font-size: small;
    position: absolute;
    top: 20px;
    left: 320px;
}

.copyright {
    font-size: small;
    color: darkgrey;
    position: absolute;
    top: 20px;
    left: 550px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

input {
   background-color: darkgrey;
}
::placeholder {
    color: white;
}

.input1 {
    width: 400px;
    height: 30px;
}

.input2 {
    width: 400px;
    height: 300px;
    text-align: left;
    vertical-align: top;
    background-color: darkgray;
}


button {
    background-color: darkgray;
    font-style: normal;
    color: white;
    width: 60px;
    height: 30px;

}